@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 background-image: url(../img/50%.png);
 background-repeat: repeat;
 font-family: 'Lora', serif;
}
a {
 text-decoration: none;
 color: white;
}
.head {
 position: relative;
}
.head .swiper img {
 width: 100%;
}
.head .swiper .swiper-button-prev,
.head .swiper .swiper-button-next {
 position: absolute;
 top: 500px;
 z-index: 5;
}
.head .header {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 background-color: rgba(0, 0, 0, 0.25);
 z-index: 1;
}
.head .header .container {
 width: 800px;
 color: white;
 margin: 300px 0;
 text-align: center;
}
.head .header .container h1 {
 font-family: 'Dancing Script', cursive;
 font-size: 48px;
 text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}
.head .header .container .try p {
 font-size: 20px;
}
.head .header .container .try .down {
 width: 50px;
 height: 50px;
 border-radius: 50%;
 box-shadow: 2px 2px 5px #888888;
}
.head .header .container .try .down i {
 color: white;
 font-size: 24px;
}
.head .navbar {
 width: 100%;
 height: 150px;
 position: absolute;
 top: 0;
 background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
 z-index: 2;
 color: white;
}
.head .navbar .icon img {
 width: 75px;
 margin-top: -20px;
}
.head .navbar .icon p {
 font-family: 'Dancing Script', cursive;
 font-size: 26px;
}
.head .navbar .text a {
 font-size: 20px;
}

.section {
 width: 100%;
 padding: 50px 100px;
 position: relative;
}
.section h2 {
 text-align: center;
 font-size: 42px;
 font-family: 'Dancing Script', cursive;
 text-shadow: 1px 2px rgba(53, 53, 53, 0.5);
}
/* content */
.content .h-content {
 width: 700px;
}
.content .h-content img,
.fine .h-fine img {
 width: 100%;
 border-radius: 25px;
 box-shadow: 3px 3px 10px #181818;
}
.content .text {
 width: 600px;
 height: 350px;
 position: absolute;
 top: 175px;
 right: 100px;
 z-index: 2;
 background-color: #a3cef1;
 border-radius: 15px;
 padding: 50px;
 text-align: center;
 box-shadow: 1px 1px 10px #181818;
}
.content .text h3,
.fine .text h3 {
 font-family: 'Dancing Script', cursive;
 font-size: 36px;
}
.content .text p {
 text-align: justify;
 font-size: 18px;
}
.content .swiper {
 margin-top: 50px;
 width: 1200px;
 height: 450px;
}
.content .swiper .samping {
 width: 300px;
 height: 300px;
}
.content .swiper .tengah {
 width: 350px;
 height: 350px;
}
.content .swiper img {
 width: 100%;
 height: 100%;
 border-radius: 20px;
 box-shadow: 3px 3px 10px #181818;
}
/* fine */
.fine .image {
 display: flex;
 justify-content: flex-end;
}
.fine .h-fine {
 width: 700px;
 height: 480px;
}
.fine .h-fine img {
 height: 100%;
}
.fine .fine-candi {
 width: 600px;
 height: 600px;
 position: absolute;
 top: 120px;
 left: 100px;
}
.fine .fine-candi .serch {
 width: 720px;
 height: 50px;
 position: relative;
 margin-bottom: 10px;
}
.fine .fine-candi .serch input,
.fine .fine-candi .serch label {
 height: 50px;
 box-shadow: 1px 1px 5px #5c5c5c9c;
 border-radius: 10px;
}
.fine .fine-candi .serch label {
 max-width: 60px;
 margin-right: 8px;
}
.fine .fine-candi .serch button {
 width: 80px;
 height: 100%;
 position: absolute;
 right: 0;
 border: none;
 border-radius: 10px;
 background-color: #6096ba;
 box-shadow: 1px 1px 8px #5c5c5c9c;
 color: white;
}
.fine .text {
 width: 600px;
 height: 380px;
 z-index: 2;
 background-color: #a3cef1;
 border-radius: 15px;
 padding: 30px;
 text-align: center;
 box-shadow: 1px 1px 10px #181818;
}
.fine .text .form {
 text-align: start;
 font-size: 18px;
 margin-bottom: 20px;
}
.fine .text .form i {
 color: #f5bb1c;
}
.fine .text a {
 font-size: 20px;
 color: black;
 text-decoration: underline;
}
/* Owner */
.owner .swiper {
 width: 1000px;
 height: 350px;
 text-align: center;
}
.owner .swiper h4 {
 font-size: 28px;
 font-weight: bold;
}
.owner .swiper .title {
 font-family: 'Dancing Script', cursive;
 font-size: 22px;
}

.footer h5 {
 font-family: 'Dancing Script', cursive;
 text-align: center;
}
